button {
  outline: none;
  border: 4px solid #5C4033;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  width: 300px;
}

.container {
    padding: 40px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameBoard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.box {
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    border: 2px solid;
}

.box:hover {
    background-color: red;
    color: white;
    border: 2px solid;
}

#winningBlock {
    background-color: red;
    color: white;
}

.fade-in-textX {
    font-family: times;
    color: blue;
    font-size: 115px;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.fade-in-textO {
    font-family: times;
    color: red;
    font-size: 115px;
    animation: fadeIn 3s;

}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#youwin {
	color: #5C4033;
	font-size: 100px;
}
